{% extends "blog/base.html" %}
{% block content %}
<div>
 <h1>About Us!</h1>
 <p>This site is all about sharing experience one has in his or her relationship.</p>
 <p>Have you been jilted before?</p>
 <p>Have you left your husband or wife for some reason(s)? Do you mind sharing?</p>
 <p>Do you want to get into a fresh relationship but afraid?</p>
 <p>Are you currently in a relationship and want to sharing some experience?</p>
 <p>Do you know much of about relationship and want to share?</p>
 <h2>Share with us, sharing is caring, you remember. We will be happy to hear from you.</h2>
 <p>Just register and start sharing your experience.</p>
 </div>   
{% endblock content %}

